@sandbox
livereload true 

@sandbox-startup

# The @env pragma is synced (and overwritten) by running arc env
@env
testing
  ARC_OAUTH_CLIENT_ID xxxxxxxxxxxxxxxxxxx
  ARC_OAUTH_CLIENT_SECRET xxxxxxxxxxxxxxx
  ARC_OAUTH_REDIRECT http://localhost:3333/auth

# staging
  # Add staging env vars with: arc env --add --env staging NAME value

# production
  # Add production env vars with: arc env --add --env production NAME value
